---
layout: default
permalink: /events/
title: "Настани"
---


<div class="page">
    <h3>Настани во #хаклаб</h3>
    
    {% assign id = 0 %}
    {% assign sorted = site.events | sort: 'start_date' | reverse %}

    {% if sorted.first != nil %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Наслов</th>
                    <th scope="col">Датум</th>
                    <th scope="col">Време</th>
                    <th scope="col">Статус</th>
                </tr>
            </thead>
            <tbody>

                {% for post in sorted limit:15 %}
                    <tr>
                        <td><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></td>
                        <td >{{ post.start_date | date: "%a, %b %d, %Y"  }}</td>
                        <td>{{ post.start_date | date: "%H:%M" }} - {{ post.end_date | date: "%H:%M" }}</td>

                        <th id="{{ id }}" future-date="{{ post.start_date | date: '%Y%m%d' }}" scope="row"></th>
                    </tr>
                    {% capture id %}{{ id | plus:1 }}{% endcapture %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Сѐ уште нема објавени настани.</p>
    {% endif %}
</div>

<script>
        function getCompareDate() {
            var d = new Date(),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();
            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;
            return [year, month, day].join('');
        }

        document.querySelectorAll('th[future-date]').forEach(node => {
            if(node.attributes['future-date'].value > getCompareDate()) {
                $("#" + node.id).html("ПРЕТСТОЕН");
                $("#" + node.id).addClass("upcoming-event");
            } else {
                $("#" + node.id).html("МИНАТ");
                $("#" + node.id).addClass("past-event");
            }
        })
</script>