---
---

@import 'bootstrap/bootstrap';

html, body {
    font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
}

// ### NAV BAR ###
.navbar {
    background-color: white;
}

.navbar img {
    width: 70px;
    height: 70px;
}

// ### END NAV BAR ###

.info-panel {
    padding: 10px;
    margin-top: 1em;
}

.info-panel ul {
    padding: 0;
}

.info-panel ul li {
    list-style: none;
    padding: 3px;
}

.title-header {
    color: rgb(55, 177, 171);
}

.sidebar-header {
    // color: rgb(152, 195, 219);
    color: rgb(55, 177, 171);
}

.page {
    margin-top: 2em;
}

.page h3 {
    color: rgba(0, 0, 0, 0.7);
}


// ### EVENTS ###
.upcoming-event {
    color: green;
    font-size: 14px;
}

.past-event {
    color: grey;
    font-size: 14px;
}

.sidebar-event a {
    margin-left: 10px;
}

.sidebar-event {
    color: rgba(0, 0, 0, 0.7);
}

.event-post-container {
    padding: 3em;
}

small {
    font-size: 1em;
}

// ### DONATIONS PAGE ###

.info-text li {
    list-style: none;
}

.info-text span {
    color: red;
}

// ### CAROUSEL ### 

// Don't forget the hardcoded HTML @ index.html for the carousel
.carousel-inner > .carousel-item > img, .carousel-inner > .item > a > img {
    max-height: 400px; 
}

.search-results {
    margin-top: 1em;
}

.search-results li {
    list-style-type: circle;
}

.sorted-item {
    color: rgb(87, 94, 100);
    background-color: lightgrey;
    padding: 1px;
    font-family: monospace;
    font-size: medium;
}

.sorted-item-list li {
    list-style: none;
}

.post-content img {
    object-fit: scale;
    width: 100%;
}

.card-body img {
    object-fit: scale;
    width: 100%;
}

.alert-info {
    text-align: center;
}